.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 63px 0px rgba(0, 0, 0, 0.07);
}

@media all and (min-width: 1024px) {
    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 40px;
    }
}

@media all and (min-width: 1540px) {
    .header {
        padding: 15px 80px;
        box-shadow: inset;
    }
}